SpamDetection/models/99.0-percent-trained/SpamDetective-knc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-lrc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-mnb.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-rfc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-svc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-xgb.pkl
ProfanityDetection/dataset/cleaned-5K.csv
ProfanityDetection/dataset/cleaned-10K.csv
ProfanityDetection/dataset/cleaned-20K.csv
ProfanityDetection/dataset/cleaned-50K.csv
ProfanityDetection/dataset/glove.6B.100d.txt
ProfanityDetection/dataset/transformed-0-to-500.csv
ProfanityDetection/dataset/transformed-0-to-5000.csv
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-abc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-bc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-dtc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-etc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-gbdt.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-knc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-lrc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-mnb.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-rfc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-svc.pkl
ProfanityDetection/models/80.0-percent-trained/ProfanityDetective-xgb.pkl
ProfanityDetection/models/80pc-of-10K-percent-trained/ProfanityDetective-etc.pkl
ProfanityDetection/models/80pc-of-10K-percent-trained/ProfanityDetective-mnb.pkl
ProfanityDetection/models/80pc-of-10K-percent-trained/ProfanityDetective-rfc.pkl
ProfanityDetection/models/80pc-of-10K-percent-trained/ProfanityDetective-svc.pkl
ProfanityDetection/models/80pc-of-10K-percent-trained/ProfanityDetective-xgb.pkl
ProfanityDetection/models/80pc-of-25K-percent-trained/ProfanityDetective-etc.pkl
ProfanityDetection/models/80pc-of-25K-percent-trained/ProfanityDetective-mnb.pkl
ProfanityDetection/models/80pc-of-25K-percent-trained/ProfanityDetective-rfc.pkl
ProfanityDetection/models/80pc-of-25K-percent-trained/ProfanityDetective-svc.pkl
ProfanityDetection/models/80pc-of-25K-percent-trained/ProfanityDetective-xgb.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-abc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-bc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-dtc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-etc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-gbdt.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-hard-vote.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-knc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-lrc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-mnb.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-rfc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-svc.pkl
ProfanityDetection/models/80pc-of-5K-percent-trained/ProfanityDetective-xgb.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-abc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-bc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-dtc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-etc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-gbdt.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-knc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-lrc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-mnb.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-rfc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-svc.pkl
SpamDetection/models/10.0-percent-trained/SpamDetective-xgb.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-abc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-bc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-dtc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-etc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-gbdt.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-knc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-lrc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-mnb.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-rfc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-svc.pkl
SpamDetection/models/80.0-percent-trained/SpamDetective-xgb.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-abc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-dtc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-etc.pkl
SpamDetection/models/99.0-percent-trained/SpamDetective-gbdt.pkl
